*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.app-container{
    background: #95BDFF;
}
#userinput{
    border: none;
    background: #fff;
    width: 30%;
}
#userinput:focus{
    outline: none;
}
#mulbtn{
    border: none;
    background: #c7dafa;
    color: #0F6292;
}

#display{
    background: #fff;
}
.app-container div{
    font-size: 1.2rem;
}
